@font-face {
  font-family: 'GT America Medium';
  font-weight: 400;
  src: url(media/fonts/GT-America-Standard-Medium-Trial.otf)
}
@font-face {
  font-family: 'GT America Bold';
  font-weight: 900;
  src: url(media/fonts/GT-America-Standard-Bold-Trial.otf);
}
@font-face {
  font-family: 'GT America Regular';
  font-weight: 100;
  src: url(media/fonts/GT-America-Standard-Regular-Trial.otf);
}

:root{
  --abs--blue:#4C5FD5;
  --abs--black:#000000;
  --abs--white:#fff;
  --abs--lavender: #dadbf1;
  --abs--darkgray: #191a1b;

  --ff--gt-america-regular: 'GT America Regular';
  --ff--gt-america-medium: 'GT America Medium';
  --ff--gt-america-bold: 'GT America Bold';
}
.between-center-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.centered-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.mar-left{
  margin-left: auto;
}
.abs-button{
  border: .01em solid var(--abs--white);
  text-align: center;
  background-color: var(--abs--darkgray);
  border-radius: .50em;
  padding: 0.6em 1em;
  font-family: var(--ff--gt-america-regular);
  color: inherit;
  cursor: pointer;
  font-size: 90%;
}
.login{
  border: none;
}
.bg-blue{
  background-color: #4C5FD5;
}

/* reset and global styles */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: var(--ff--gt-america-regular);
  font-style: inherit;
  font-size: 17px;
  width: 100%;
  line-height: 1.5;
  background-color: #000000;
  color: #fff;
}
img{
  max-width: 100%;
  height: auto;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
  color: inherit;
}
/* styling */
