@font-face {
  font-family: 'GT America Medium';
  font-weight: 400;
  src: url(media/fonts/GT-America-Standard-Medium-Trial.otf)
}
@font-face {
  font-family: 'GT America Bold';
  font-weight: 900;
  src: url(media/fonts/GT-America-Standard-Bold-Trial.otf);
}
@font-face {
  font-family: 'GT America Regular';
  font-weight: 100;
  src: url(media/fonts/GT-America-Standard-Regular-Trial.otf);
}

:root{
  --abs--blue:#4C5FD5;
  --abs--black:#000000;
  --abs--white:#fff;
  --abs--lavender: #dadbf1;
  --abs--darkgray: #191a1b;

  --ff--gt-america-regular: 'GT America Regular';
  --ff--gt-america-medium: 'GT America Medium';
  --ff--gt-america-bold: 'GT America Bold';
}


/* reset and global styles */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: var(--ff--gt-america-regular),sans-serif;
  font-style: inherit;
  font-size: 20px;
  line-height: 1.5;
  background-color: #000000;
  color: #fff;
}
img{
  max-width: 100%;
  height: auto;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
  color: inherit;
}

/* Media queries */
@media screen and (max-width: 400px) {
  body{
    
  }
  .hero-container{
    
  }
  .hero{
    
  }
  
  
  
}
@media screen and (min-width: 401px) and (max-width:960px) {
  body{
  
  }
  
  
}
@media screen and (max-width: 961px) {
  body{
    
  }
  
}
/* custom properties */
.nav-items{
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.element-blue{
  background-color: #4C5FD5;
}


/* styling */
.navigation{
  display: flex;
  justify-content: space-around;
  background-color: #000000;
  padding: 1em;
  margin-top: 1em;
}
.left-nav{
  display: flex;
  margin-right: auto;  
}
.right-nav{
  display: flex;
  
}

.main-content{

}
.hero-container{
  background-color: #dadbf1;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  letter-spacing: -4px;
}
.hero{
  padding: 1em;
  width: 50vw;
  text-align: center;
}
.hero-text{
  font-size: 4rem;
  margin-top: 0.3em;
  padding: 0.2em;
}
.hero-search{
  margin-bottom: 3em;
}
#query{
  font-size: 1em;
  width: 100%;
  padding: 1em 1em;
}

.elements{
  padding-top: 2em;
  background-color: #fff;
  color: black;
  padding-left: 2em;
  padding-right: 2em;
  
}
.list-elements{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 1.5em;
}

.element{
  /* display: flex;
  flex-direction: column; */
}

